
    @font-face {
        font-family: 'SutonnyMJ';
        src: url('../fonts/SutonnyMJ.woff') format('woff'),
        url('../fonts/SutonnyMJ.ttf') format('truetype'),
        url('../fonts/SutonnyMJ.otf') format('opentype'),
        url('../fonts/SutonnyMJ.eot') format('embedded-opentype'),
        url('../fonts/SutonnyMJ.svg') format('‘svg’') !important;
        font-weight: normal; font-style: normal;
    }
    .cardFonts{
        font-family:'SutonnyMJ', sans-serif !important;
    }
    body {
        font-family: Arial, Helvetica, sans-serif;
    }
    .center {
        margin: auto;
        width: 100%;
        padding: 10px;
    }
    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 20px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 0;
        border: 1px solid #888;
        width: 100%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s
    }

    /* Add Animation */
    @-webkit-keyframes animatetop {
        from {top:-50px; opacity:0} 
        to {top:0; opacity:1}
    }

    @keyframes animatetop {
        from {top:-50px; opacity:0}
        to {top:0; opacity:1}
    }

    /* The Close Button */
    .close {
        color: white;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

    .modal-header {
        padding: 2px 16px;
        background-color: #31B0D5;
        color: white;
    }

    .modal-body {
        padding: 2px 20px;
    }

    .modal-footer {
        padding: 2px 16px;
        background-color: white;
        color: white;
    }
    
    .tile-stats{
        background: #333333!important;
    }

    .tile-stats h3 {
    	color: white !important;
	}

	a {
    	color: #ffffff ;
	}

    .left_col{
        background:	#333333 !important;
    }

    a.site_title{
        background:white !important;
        color: black !important;
        font-weight: bold !important; 
    }

    .main_container{
        background: #333333;
    }

    #myProgress {
      width: 100%;
      background-color: #bbb;
    }

    #myBar {
      width: 0%;
      height: 30px;
      background-color: #4CAF50;
      text-align: center;
      line-height: 30px;
      color: white;
    }

    .count{
    	color:#f7b82e;
    }

    .invBodyMain{
        padding-left: 75px;
        margin-left: -17px;
        padding-right: 60px;
        margin-top: 36px;
    }

    .tile-stats .icon {

        color:#f7b82e!important;

    }

    .tile-stats .icon :hover{

        background-color:#f7b82e!important;

    }
    .modal-header{
        background-color:#f6cc4a !important;
    }
